body{
         
           text-decoration: none;
           background-color: white;
           font-family: 'Pacifico', cursive;
           font-size: larger;
        
}



.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
   
}

.navigation-bar{
    margin-left: 600px;
    max-width: 400px;
}

.link-primary {
    background-color: #242B2E;
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

#heading{
    position: relative;
    background-color: #242B2E;
    padding: 2rem 0rem;
    text-align: center;
    color: var(--primary-light);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: white;
    margin-top: 0%;
}


